<%- include("header") -%>

<div class="rightpar">

<h1 style = "color:#83e385">About us</h1>
  <p>
    A fearless innovator with extensive experience building diverse teams and sustainable software. Specifically intrigued by complex problems and defined by consistent resilience to find creative and pragmatic solutions.
  </p>
</div>
<%- include("footer") -%>
